[Unit]
Description=SilentChecker Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=anton
WorkingDirectory=/opt/silentchecker-discord
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /opt/silentchecker-discord/src/index.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
